{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<!DOCTYPE html>
<html ng-app="inspinia">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title page-title>Registro de usuario</title>
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
    <link id="loadBefore" href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">
</head>
<style type="text/css">
    body {
    background-image: url({{ app.request.basepath }}/imagenes/fondo8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
</style>

<body>
<div class="loginColumns animated fadeInDown">
<div class="ibox-content">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ app.request.basepath }}/imagenes/ministe.png" class="img-responsive img-rounded" style="width: 400px;"/>
            <h2 class="font-bold">Bienvenido a proyecto Normas </h2>
            <p>
                El Comité de Seguros del Agro, “Agroseguros”, es una entidad creada por el Consejo de CORFO el año 2000, con la finalidad de desarrollar y promover los Seguros para el Agro, y administrar un Subsidio del Estado para el copago de las primas de los Seguros Agropecuarios. Los recursos para el pago de los subsidios y gastos operacionales del Comité, provienen del presupuesto del Ministerio de Agricultura y son traspasados anualmente a CORFO mediante un Convenio de Transferencia de Fondos.
            </p>
           
        </div>
        <div class="col-md-6">
            <h2 class="text-center"><i class="glyphicon glyphicon-user"> Registro de usuario</i></h2>
            <div class="ibox-content">
        <form name="fos_user_registration_form" method="post" action="{{ path('registro') }}" class="registro">
            
             <div id="fos_user_registration_form">      
             <div class="form-group">
             <label for="fos_user_registration_form_email" class="required">Email</label>
             <input type="email" id="fos_user_registration_form_email" class="form-control" name="fos_user_registration_form[email]" required="required"></div>

             <div class="form-group">
             <label for="fos_user_registration_form_username" class="required">Nombre de Usuario</label>
             <input type="text" id="fos_user_registration_form_username" class="form-control" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}"></div>

             <div class="form-group">
             <label for="fos_user_registration_form_plainPassword_first" class="required">Clave</label>
             <input type="password" id="fos_user_registration_form_plainPassword_first" class="form-control" name="fos_user_registration_form[plainPassword][first]" required="required"></div>

             <div class="form-group">
             <label for="fos_user_registration_form_plainPassword_second" class="required">Repita Clave</label>
             <input type="password" id="fos_user_registration_form_plainPassword_second" class="form-control" name="fos_user_registration_form[plainPassword][second]" required="required"></div>
           
              <div class="form-group">
                <input class="btn btn-primary block full-width m-b" type="submit" id="_submit" name="_submit" value="Crear Cuenta" />
              </div>
                   <a href="{{ path('reestablecer') }}" >
                    <small>Olvido clave?</small>
                   </a>
    
                </a>
                <p class="text-muted text-center">
                    <small>Tiene cuenta?</small>
                </p>
                <a class="btn btn-sm btn-white btn-block" href="{{ path('login_inicial') }}">Volver a Login</a>
            </div>
        </form>
          
        </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>

{% endblock fos_user_content %}
